/Biosec
/Daugman Iris Detection
/Daugman Iris Segmentation
/Daugman_iris.ipynb
/Image
/Iris recognition
/Note.ipynb
/Output
/test.ipynb
/UBIPr
/CASIA-Iris-Interval
/CASIA-Iris-Distance
/CASIA-Iris-Lamp
/CASIA-Iris-Syn
/CASIA-Iris-Thousand
/CASIA-Iris-Twins
/temp_data
/Model
