# Ignore
/Github Iris Code
/Daugman_iris.ipynb
/Image
/Note.ipynb
/Output
/test.ipynb
/main/Iris-Dataset
/main/temp_data
/main/model
/reference code
/graph
/main/checkpoint
/main/__pycache__
/main/dask-worker-space
/.dvc
/main/test/checkpoints
/main/dvclive
/main/module/segment_anything/checkpoints